<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="Host and manage your databases">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="SQLite, SQL, databases">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="apple-touch-icon" href="/static/favicon.png">

</head>
<body>
    <div>
        hello
    </div>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</body>
</html>